.forecast-detail {
	margin: 0 20px;

	text-align: center;

	&__ {
		&temp {
			display: block;

			margin: 10px 0;

			font-size: 18px;
			font-weight: bold;
		}

		&precip {
			display: flex;

			align-items: center;

			svg {
				margin-right: 3px;
				width: 17px;
				height: 17px;
			}

			&__rain,
			&__snow {
				display: flex;

				align-items: center;
			}

			&__rain {
				margin-right: 10px;
			}
		}
	}
}
