.forecast-day {
	margin: 0 10px;
	border-radius: 10px;
	padding: 0 20px;
	flex: 0 1 0;

	text-align: center;

	cursor: pointer;

	&-- {
		&active {
			color: #fff;

			background-color: #2078dc;
		}
	}

	&__ {
		&temp {
			display: block;

			margin: 10px 0;

			font-size: 20px;
			font-weight: bold;
			white-space: nowrap;
		}

		&sunrise-sunset {
			white-space: nowrap;

			span {
				&:first-child {
					margin-right: 10px;
				}
			}
		}

		&icon {
			display: flex;

			img.forecast-icon {
				position: relative;

				&:first-child {
					z-index: 3;
				}

				+ img.forecast-icon {
					margin-left: -50px;

					transform: scale(0.8) translateY(-15px);
				}
			}
		}
	}
}
